@import "variables.scss";
@import "mixins.scss";
@import "global/fonts.scss";
@import "global/forms.scss";
@import "global/layout.scss";
@import "global/type.scss";
@import "blocks/about.scss";
@import "blocks/btn.scss";
@import "blocks/checkbox.scss";
@import "blocks/contest-feedback.scss";
@import "blocks/controls.scss";
@import "blocks/email.scss";
@import "blocks/intro.scss";
@import "blocks/label.scss";
@import "blocks/page-header.scss";
@import "blocks/logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-footer.scss";

@import "blocks/photo-load.scss";
@import "blocks/photo-section.scss";
@import "blocks/price.scss";
@import "blocks/radio.scss";
@import "blocks/reviews.scss";
@import "blocks/slider-items.scss";
@import "blocks/social-links.scss";
@import "blocks/tel.scss";
@import "blocks/text.scss";
@import "blocks/textarea-text.scss";
@import "blocks/user-photo.scss";
@import "blocks/wrapper.scss";
@import "blocks/outlines.scss";

@font-face {
  font-family: "Open Sans";
    src: url ("../fonts/opensans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
    src: url ("../fonts/opensansbold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
    src: url ("../fonts/opensanslight.woff") format('woff');
  font-weight: lighter;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-size: $font-size;
  line-height: $line-height;
  font-family: "Open Sans","Arial","Helvetica","Garuda", sans-serif;

  color: $font-color-main;
  font-style: normal;
  font-weight: normal;

  background-color: $bg-main;
}

body {
  padding: 6px;
  background: $bg-main url("../img/pink-index-mobile.jpg") no-repeat center 6px scroll;
  min-height: 3423px;
}

@media ($tablet-width) {
  body {
    background: $bg-main url("../img/pink-index-tablet.jpg") no-repeat center 6px scroll;
    min-height: 2400px;
  }
}

@media ($desktop-width) {
  body {
    background: $bg-main url("../img/pink-index-desktop.jpg") no-repeat center 6px scroll;
    min-height: 2250px;
  }
}
