.logo-pink-white-mobile {
  fill: #ffffff;
}

.arrow {
  position: absolute;

  fill: #bec2c7;
  top: 0;

  z-index: 10;
}

.reviews__toggle--prev .arrow {
  left: 0;
}

.reviews__toggle--next .arrow {
  right: 0;
}

.reviews__toggle .arrow:hover {
  fill: #7e868f;
}

.reviews__toggle:active .arrow {
  opacity: 0.1;
}

.social-icon {
  position: absolute;

  fill: #d22856;

  &--twitter {
    left: 16px;
    top: 16px;
  }

  &--facebook {
    left: 19px;
    top: 13px;
  }

  &--youtube {
    left: 17px;
    top: 16px;
  }
}

.icon-yes,
.icon-no {
  display: none;
}

.icon-yes {
  fill: #3dc644;
}

.icon-no {
  fill: #f25b26;
}

@media ($tablet-width) {
  .icon-yes,
  .icon-no {
    display: block;
    width: 31px;
    margin: 0 auto;
  }
}
