input[type="text"] {
  box-sizing: border-box;

  font-size: 18px;
  line-height: 30px;

  width: 100%;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  padding-left: 22px;
  padding-right: 22px;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-bottom: 16px;

}

@media ($tablet-width) {
  input[type="text"] {
    width: auto;
    flex-grow: 1;

    margin-bottom: 0;
  }
}
