.intro {
  min-height: 207px;

  padding-top: 28px;
  padding-bottom: 36px;

  text-align: center;

  background-color: rgba(128, 0, 0, 0.3);

  &__header {
    display: none;

    font-size: 40px;
    font-weight: lighter;

    line-height: 56px;
  }
}

.intro *:first-child {
  margin-top: 0;
}

.intro *:last-child {
  margin-bottom: 0;
}

@media ($tablet-width) {
  .intro {
    width: 300px;
  }

  .intro *:first-child {
    margin-top: 0;
  }

  .intro__header {
    display: block;
  }
}

@media ($desktop-width) {
  .intro {
    width: 370px;

    padding-top: 110px;
  }
}
