.intro {
  /* Прибиваем к низу относительно абсолютного позиционирования относительно */

  position: absolute;

  height: 271px;
  width: 280px;

  bottom: 0;

  background-color: red;

  /* &::before {
    content: "";

    position: absolute;

    width: 258px;
    height: 286px;

    top: 0;

    background-image: url("../../img/iphone-hand-mobile.png");
  } */
}

.intro__header {
  display: none;
}

@media ($tablet-width) {
  .intro {
    width: 300px;

    background-color: transparent;
  }

  .intro *:first-child {
    margin-top: 0;
  }

  .intro__header {
    display: block;
  }
}

@media ($desktop-width) {
  .intro {
    width: 370px;
  }
}
