.label {
  font-size: 14px;
  line-height: 30px;

  &--caption {
    display: block;

    margin-bottom: 5px;
    padding-left: 23px;

    color: #d22856;

    text-transform: uppercase;
  }
}

@media ($tablet-width) {
  .label {
    &--caption {
      flex-shrink: 0;

      padding-left: 0;
      padding-right: 19px;

      margin-bottom: 0;
    }
  }
}

@media ($desktop-width) {

}
