.logo {
  height: 22px;
  width: 75px;

  &--page-header {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 100;
  }

  &--big {
    width: 147px;
    height: 40px;
  }
}

@media ($tablet-width) {
  .logo {
    height: 40px;
    width: 147px;
  }
}

@media ($desktop-width) {

}
