.main-nav {
  position: relative;

  top: -22px;

  min-height: 70px;

  margin: 0 auto;

  &__items {
    clear: both;

    margin: 0;
   padding: 0;

    list-style: none;
  }

  &__item {
    text-align: center;
  }

  &__link {
    display: block;
    overflow: hidden;

    text-decoration: none;

    color: $font-color-header;

    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;

    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.main-nav__toggle {
  display: block;
  position: relative;

  width: 100%;
  min-height: 24px;

  padding-top: 21px;
  padding-bottom: 21px;
  padding-right: 50px;

  font-size: 0;
  background-color: rgba(0, 0, 0, 0.3);

  &::after {
    content:"";

    position: absolute;

    width: 50px;
    height: 24px;

    right: 0;

    background-image: url("../../img/icon-menu-burger.svg");
    background-repeat: no-repeat;
  }

  &--closed::after {
    background-image: url("../../img/icon-menu-cross.svg");
    background-repeat: no-repeat;
  }
}

@media ($tablet-width) {
  .main-nav {
    top: -40px;

    min-height: 110px;

    width: auto;

    margin: 0;
  }
}

@media ($desktop-width) {
  .main-nav {
    position: static;
    float: right;

    min-width: 660px;
    max-width: 790px;

    &__item {
      overflow: hidden;

      display: inline-block;
      vertical-align: middle;
    }

    &__link {
      display: inline-block;

      vertical-align: middle;

      text-transform: none;
    }

    &__toggle {
      display: none;
    }

    &__wrapper {
       @include clearfix;
    }
  }
}
