.main-nav {
  min-height: 66px;

  background-color: rgba(0, 0, 0, 0.5);

  min-height: 70px;
  width: 100%;

  &__logo-wrapper {
    @include container;
    position: relative;
  }

  &__wrapper {
    position: absolute;
    width: 100%;

    top: 0;
    z-index: 10;
  }

  &__toggle {
    display: block;
    position: absolute;

    border: none;
    outline: none;

    top: 0;

    width: 100%;
    min-height: 66px;

    font-size: 0;
    line-height: 0;

    background-color: transparent;

    z-index: 100;

    .icon-menu {
      position: absolute;

      top: 21px;
      right: 0;

      fill: #ffffff;
    }

    .icon-menu--cross {
      display: none;
    }

    &--closed {
      .icon-menu--burger {
        display: none;
      }

      .icon-menu--cross {
        display: block;
      }
    }

    &:hover .icon-menu {
      fill: #d22856;
    }

    &:active .icon-menu {
      opacity: 0.3;
    }
  }

  &__items {

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    text-align: center;

    background-color: #283645;
    border-bottom: 1px solid #010101;
    border-top: 1px solid #485461;

    &--nav-height {
      height: 66px;
    }
  }

  &__link {
    display: block;
    overflow: hidden;

    padding-top: 18px;
    padding-bottom: 18px;

    text-decoration: none;

    color: $font-color-header;

    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
  }
}

@media ($tablet-width) {
  .main-nav {
    min-height: 110px;

    margin: 0;

    &__wrapper {
      position: absolute;
      width: 100%;

      top: 0;
    }

    &__toggle {
      min-height: 110px;

      &::after {
        right: 0;
      }

      .icon-menu {
        top: 44px;
      }
    }

    &__item {
      &--nav-height {
        height: 110px;
      }
    }

    &__link {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media ($desktop-width) {
  .main-nav {
    position: static;

    &__main-wrapper {
      @include container;
    }

    &__wrapper {
    position: static;
    float: right;

    min-width: 660px;
    max-width: 790px;

    text-align: right;
    }

    &__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;

      justify-content: flex-end;
      align-items: center;
    }

    &__item {
      overflow: hidden;

      background-color: transparent;
      border: none;
    }

    &__item--wrapped {
      background-color: rgba(0, 0, 0, 0.5);

      .main-nav__link {
        padding-left: 41px;
        padding-right: 41px;

        text-align: center;
      }
    }

    &__link {
      padding-left: 0;
      padding-left: 82px;

      text-transform: none;
    }

    &__toggle {
      display: none;
    }
  }
}

@media ($mobile-tablet-width-only) {
  .main-nav__wrapper--closed {
    .main-nav__items {
      display: none;
    }
  }
}
