.page-header {

  min-height: 237px;

  color: $font-color-header;

  background-image: url("../img/bg-back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  background-color: #2c394a;

  &--index {
    min-height: 729px;
  }

  &__wrapper {
    @include container;
    @include clearfix;

    position: relative;

    min-height: 237px;
  }

  &__wrapper--index {
    padding-top: 420px;
  }
}

@media ($tablet-width) {
  .page-header {
    min-height: 440px;

    &--index {
      min-height: 729px;
    }

    &__wrapper--index {
      padding-top: 254px;
    }
  }
}

@media ($desktop-width) {
  .page-header {
    min-height: 394px;

    &--index {
      min-height: 853px;
    }

    &__wrapper {
      padding-top: 0;
    }

    &__nav-wrapper {
      @include clearfix;
    }

    &__nav-toggle {
      display: none;
    }
  }
}
