.page-header {
  min-height: 729px;

  position: relative;

  color: $font-color-header;
  background-color: #1d2631;

  &__wrapper {
    @include container;
  }
}

@media ($tablet-width) {
  .page-header {
    min-height: 728px;
  }
}

@media ($desktop-width) {

}
