.photo-section {
  &__slogan-wrapper {
    @include container;

    padding-top: 45px;
    margin-bottom: 49px;
  }

  &__slogan {
    font-size: 14px;
    line-height: 30px;

    text-align: center;
  }

  &__slogan-wrapper *:first-child {
    margin-top: 0;
  }

  &__slogan-wrapper *:last-child {
    margin-bottom: 0;
  }

  &__wrapper-inner {
    @include container;
  }
}
