.price {
  padding-top: 91px;
  padding-bottom: 20px;

  background-color: #f2f2f2;

  &__wrapper {

  }

  &__switcher {
    display: none;
  }

  &__list {
    margin: 0 auto;

    position: relative;
    width: 840px;
    transform: translateX(-240px);
  }

  &__list-head {
    font-size: 18px;
    line-height: 30px;

    text-transform: uppercase;

    color: white;
    background-color: #283645;

    p {
      margin-top: 2px;
      margin-bottom: 0;

      font-size: 24px;
      font-weight: lighter;
    }
  }

  &__list-body {
    background-color: white;
  }

  &__value {
    padding-top: 16px;
    padding-bottom: 20px;

    border: 2px solid #e5e5e5;

    /* &--content {
      // border-left: 2px solid #f2f2f2;
    } */

    &--empty {
      min-width: 0;

      margin: 0;
      padding: 0;

      font-size: 0;
      line-height: 0;

      background-color: transparent;
      border: none;
    }
  }

  &__field {
      min-width: 254px;

      padding-top: 13px;
      padding-bottom: 15px;
      padding-left: 22px;

      font-size: 14px;
      line-height: 30px;

      text-transform: uppercase;

      border: 2px solid #e5e5e5;
      border-top: 0;

    &--content {
      /* min-width: 254px;

      padding-top: 13px;
      padding-bottom: 15px;
      padding-left: 22px;

      font-size: 14px;
      line-height: 30px;

      text-transform: uppercase;

      border: 2px solid #e5e5e5;
      border-top: 0; */
    }

    &--empty {
      min-width: 0;

      margin: 0;
      padding: 0;

      font-size: 0;
      line-height: 0;

      background-color: transparent;
      border: none;
    }
  }
}


@media ($tablet-width) {
  .price {

    padding-top: 88px;

    &__wrapper {
      @include container;
    }

    &__list-head {
      font-size: 16px;
    }

    &__list {
      min-width: 620px;
    }

    &__field {
      &--empty {
        min-width: 153px;

        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;

        font-size: 14px;
        line-height: 30px;

        border: 2px solid #e5e5e5;
      }

      &--content {
        min-width: 148px;

        padding-top: 15px;
        padding-bottom: 15px;

        border: 2px solid #e5e5e5;
      }

      &--ok {
        padding-left: 0;

        font-size: 0;
        line-height: 0;
      }

      &--cancel {
        padding-left: 0;

        font-size: 0;
        line-height: 0;
      }
    }

    &__value {
      p {
        margin-top: 0;
        font-size: 18px;
      }

      &--content {
        padding-top: 12px;
        padding-bottom: 5px;
      }

      &--empty {
        background-color: #f2f2f2;
        border: none;
      }
    }
  }
}

@media ($desktop-width) {
  .price {

    &__list {
      min-width: 940px;
    }

    &__field {

      &:first-child {
        min-width: 230px;

        font-size: 18px;
      }
    }
  }
}
