.reviews {
  padding-top: 42px;
  padding-bottom: 14px;

  &__wrapper {
    @include container;
  }

  /* &__items {
    text-align: center;
  } */

  &__item:first-of-type .reviews__title:first-of-type {
    margin-top: 0;
  }

  &__item {
    text-align: center;
    display: none;
  }

  &__item--active {
    display: block;
  }

  &__intro {
    display: none;
  }

  &__switcher {
    display: none;
  }

  &__title {
    margin-bottom: 13px;
  }

  &__content {
    font-size: 14px;
    line-height: 30px;

    margin-top: 13px;
    margin-bottom: 13px;
  }
}

@media ($tablet-width) {
  .reviews {
    &__title {
      margin-bottom: 5px;
    }

    &__intro {
      display: block;
      margin-top: 5px;
    }
  }
}

@media ($desktop-width) {
  .reviews {
    &__wrapper {
      padding-top: 197px;

      padding-bottom: 14px;
    }

    &__content {
      padding: 0 60px;
    }

    &__title {
      margin-bottom: 0;
    }

    &__intro {
      display: block;
      margin-top: 0;
    }
  }
}
