.slider-items {
  &.reviews__nav {
    display: inline-block;
    vertical-align: middle;

    min-height: 12px;

    font-size: 0;
    line-height: 0;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__btn {
    display: inline-block;
    vertical-align: middle;

    font-size: 0;
    line-height: 0;

    width: 6px;
    height: 6px;

    margin-left: 8px;
    margin-right: 8px;

    background-color: #bec2c7;

    border-radius: 50%;

    &--active {
      background-color: transparent;
      border: 3px solid #283645;
    }
  }
}
