.user-photo {
    margin-left: 0;
    margin-right: 0;

    padding-bottom: 20px;

  &--of-the-day {

  }

  &__image {

  }

  &__image--of-the-day {

  }

  &__mobile-image {
    display: block;
  }

  &__mobile-panoram{
    width: 100%;

    background-image: url("../img/panorama-mobile.jpg");
    background-size: cover;
  }

  &__caption--wrapper {
    @include container;
    position: relative;

    box-sizing: border-box;

    background-color: #f2f2f2;
  }

  &__view-of-the-day {
    position: absolute;

    padding-left: 20px;
    padding-right: 20px;

    padding-top: 7px;
    padding-bottom: 8px;

    right: 0;
    top: -137px;

    font-size: 12px;
    line-height: 24px;

    color: white;
    text-transform: uppercase;

    background-color: #d22856;
  }

  &__caption {
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 19px;
    padding-right: 19px;

    color: #283645;
    background-color: #f2f2f2;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 24px;

    font-weight: bold;

    color: #283645;

    span {
      font-size: 12px;

      color: #283645;

      text-transform: uppercase;
      font-weight: lighter;
    }
  }

  &__content {
    margin-top: 0;
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 24px;
  }

  &__footer {
    position: relative;

    padding-left: 31px;

    font-size: 12px;
    line-height: 24px;

    color: #d22856;

    text-transform: uppercase;

    &::before {
      position: absolute;
      content: "";

      width: 14px;
      height: 14px;

      left: 0;
      top: 4px;

      background-image: url("../img/icon-heart.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media ($tablet-width) {
  .user-photo {
    &__image--of-the-day {

    }

    &__mobile-image {
      height: 509px;
    }

    &__view-of-the-day {
      top: -452px;
    }
  }
}

